.banner-card{
  height: 400px;
  position: relative;
}

.banner-image{
  width: 100%;
  height: 100%;
}

.banner-text{
  position: absolute;
  margin-left: 2%;
  margin-top: 250px;
  color:beige;
}

.trending{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center ;
}

.trending-heading{
  margin-bottom: 50px;
}

.trending-data{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
}

.movie-card{
  width: 300px;
  margin-left: 5px;
  margin-right: 5px;
}

.page-change{
  margin-top: 50px;
}

.left{
  margin-left: 3rem;
}

.favourite-movie-card{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.favourite-movie-img{
  width: 30%;
}

.left{
  margin-top: 63px;
  margin-right: 20px;
}

.left-col{
  padding:8px;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(221, 205, 205);
  border-radius: 2%;
}

.page-footer{
  padding-bottom: 100px;
}
